.button {
  display: inline-block;
  background: var(--accent);
  border-radius: 7px;
  width: 214px;
  text-align: center;

  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.26em;
  color: #000;

  line-height: 52px;

  transition: all 0.2s ease-in;
}

.button:hover,
.button:active {
  background-color: #fcc54e;
}
